.mainContainer {
    display: flex;
    justify-content: space-between;
}

.sidebar {
    width: 250px; 
    padding: 20px;
    background-color: #bd0ce9;
}

.content {
    flex-grow: 1; 
    padding: 20px; 
    background-color: #daf106; 
    text-align: center;
}
